<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ychs.lawfirmsys.mapper.ContractCancelMapper">
    <insert id="addCancelContract" parameterType="contractCancel">
        insert into cancel (contract_num, cancel_reason, operator, cancel_date, remark)
        values (#{contractNum}, #{cancelReason}, '行政主管', #{cancelDate}, #{remark});
    </insert>

    <sql id="queryInfo">
        <where>
            <if test="lawyerId != null">
                and c.lawyer_id=#{lawyerId}
            </if>
            <if test="periodStart != null and periodEnd != null">
                and ca.cancel_date between #{periodStart} and #{periodEnd}
            </if>
            <if test="periodMonth != null and periodMonth !=''">
                and YEAR(ca.cancel_date)=YEAR(STR_TO_DATE(#{periodMonth}, '%Y-%m'))
                and MONTH(ca.cancel_date)=MONTH(STR_TO_DATE(#{periodMonth}, '%Y-%m'))
            </if>
        </where>
    </sql>
    <select id="getCancelContractByConditions" parameterType="contractCancel">
        SELECT ca.id,c.contract_num,c.contract_name,t.typeName,l.lawyer_name,ca.cancel_reason,ca.operator,ca.cancel_date,ca.remark
        FROM cancel ca
                 LEFT JOIN contract c ON c.contract_num = ca.contract_num
                 LEFT JOIN lawyer l ON c.lawyer_id = l.id
                 LEFT JOIN `type` t ON c.type_id = t.typeId
        <include refid="queryInfo"></include>
    </select>
</mapper>